body {
	margin: 0;
}

.main {
	width: 100%;
	padding: 5 25 5 25;
}

.top-text {
	width: 70%;
	margin: 0 auto;
	line-height: 1.5;
	font-family: sans-serif;
}

.options {
	width: 80%;
	margin: 0 auto;
}

#p-wikimedia  {
	font-weight: bold;
}

#p-movement {
	color: blue;
}

#p-mission {
	color: blue;
}

#p-projects {
	color: blue;
}

#p-chapters {
	color: blue;
}

#p-strives {
	color: blue;
}

#p-welcome {
	font-weight: bold;
	text-align: right;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.pics {
	height: 75%;
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

.row1, .row2, .row3, .row4 {
	width: 100%;
	height: 150px;
	margin: 0 auto;
}
/* Row 1 */
#wikipedia {
	width: 24%;
	height: 100%;
	float: left;
}
#wiktionary {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 10;
	margin: 0 auto;
}
#wikiquote {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 20;
	margin: 0 auto;
}
#wikibooks {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 30;
	margin: 0 auto;
}
/* Row 2 */
#wikisource {
	width: 24%;
	height: 100%;
	float: left;
}
#wikinews {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 10;
	margin: 0 auto;
}
#wikiversity {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 20;
	margin: 0 auto;
}
#wikispecies {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 30;
	margin: 0 auto;
}
/*Row 3*/
#mediawiki {
	width: 24%;
	height: 100%;
	float: left;
}
#wikidata {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 10;
	margin: 0 auto;
}
#wikimedia-commons {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 20;
	margin: 0 auto;
}
#wiki-voyage {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 30;
	margin: 0 auto;
}
/*Row 4*/
#wikimedia-meta {
	width: 24%;
	height: 100%;
	float: left;
}
#wikimedia-incubator {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 10;
	margin: 0 auto;
}
#wikimedia-labs {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 20;
	margin: 0 auto;
}
#wikimedia-foundation {
	width: 24%;
	height: 100%;
	float: left;
	position: relative;
	left: 30;
	margin: 0 auto;
}

.footer {
	border-top: 1px solid  black;
	width: 90%;
	height: 100px;
	margin: 0 auto;
	padding-top: 2;
}

.bottom-text {
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	font-family: sans-serif;
}

.bottom-links {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: blue;
}

#space {
	color: white;
}
